:root {
  --uqpurple: #51247A;
  --uqpurplehover: #962A8B;
}

.alert:not(.pattern-library-shim){
color: var(--bs-alert-color) !important;
margin-bottom: var(--bs-alert-margin-bottom) !important;  
}
table.table {
 background: var(--bs-table-bg) !important;
}
.xmodule_display.xmodule_HtmlBlock .table th{
 background: var(--bs-table-bg) !important;
}
div.accordion h2{
  margin: 0px !important;
}
.tooltip::after{
content: none !important;
}
.tooltip{
border-style: none !important;
}

.uqpurple, .uqpurple a {
  color: #fff !important;
  background-color: var(--uqpurple) !important;
  border-color: var(--uqpurple) !important;
}
.uqpurple:active, .uqpurple.active, .uqpurple:focus, .uqpurple.focus, .uqpurple:hover, .uqpurple a:hover {
  color: #fff !important;
  background-color: var(--uqpurplehover) !important;
  border-color: var(--uqpurple) !important;
}
