.alert:not(.pattern-library-shim){
color: var(--bs-alert-color) !important;
margin-bottom: var(--bs-alert-margin-bottom) !important;  
}

.xmodule_display.xmodule_HtmlBlock .table th{
 background: var(--bs-table-bg) !important;
}
div.accordion h2{
  margin: 0px !important;
}
.tooltip::after{
content: none !important;
}
.tooltip{
border-style: none !important;
}
.purple-banner{
  background-size: 40px;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #51247a;
/*  border: 8px inset transparent;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 8px;
  height: 30px;*/
  vertical-align: middle;  
}
.purple-banner-jigsaw{
  background-image: url('https://studio.edge.edx.org/static/activities-white.png');
}
.purple-banner-checklist-quiz{
  background-image: url('https://studio.edge.edx.org/static/quiz-white.png');
}
.purple-banner-magnifying-glass{
  background-image: url('https://studio.edge.edx.org/static/explore-white.png');
}
.purple-banner-book{
  background-image: url('https://studio.edge.edx.org/static/book-white.png');
}   
.purple-banner-discuss{
  background-image: url('https://studio.edge.edx.org/static/discuss-white.png');
} 
.purple-banner-timer{
  background-image: url('https://studio.edge.edx.org/static/timer-white.png');
} 
.purple-banner-video{
  background-image: url('https://studio.edge.edx.org/static/video-white.png');
}
.purple-banner-thought{
  background-image: url('https://studio.edge.edx.org/static/think-white.png')
}
.purple-banner-pencil{
  background-image: url('https://studio.edge.edx.org/static/notes-white.png')
}
.purple-banner-link{
  background-image: url('https://studio.edge.edx.org/static/link-white.png')
}
.purple-banner-group{
  background-image: url('https://studio.edge.edx.org/static/group-white.png')
}
.purple-banner-podcast{
  background-image: url('https://studio.edge.edx.org/static/podcast-white.png')
}
.purple-banner-arrow-circle{
  background-image: url('https://studio.edge.edx.org/static/future-white.png')
}
.purple-banner-cogs{
  background-image: url('https://studio.edge.edx.org/static/cogs-white.png')
}
.purple-banner-lightbulb{
  background-image: url('https://studio.edge.edx.org/static/example-white.png')
}
.purple-banner-list{
  background-image: url('https://studio.edge.edx.org/static/summary-white.png')
}
.purple-banner-alert-circle{
  background-image: url('https://studio.edge.edx.org/static/alert-white.png')
}
.purple-banner-alert-triangle{
  background-image: url('https://studio.edge.edx.org/static/important-white.png')
}
.purple-banner-globe{
  background-image: url('https://studio.edge.edx.org/static/world-white.png')
}
.purple-banner span{
  color: #fff;
}
.grey-banner{
  background-size: 40px;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #f8f8ff;;
  /*border: 8px inset transparent;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 8px;
  height: 30px;*/
  vertical-align: middle;  
}
.grey-banner span{
  color: #000
}
.grey-banner-jigsaw{
  background-image: url('https://studio.edge.edx.org/static/activities-black.png');
}
.grey-banner-checklist-quiz{
  background-image: url('https://studio.edge.edx.org/static/quiz-black.png');
}
.grey-banner-magnifying-glass{
  background-image: url('https://studio.edge.edx.org/static/explore-black.png');
}
.grey-banner-book{
  background-image: url('https://studio.edge.edx.org/static/book-black.png');
}   
.grey-banner-discuss{
  background-image: url('https://studio.edge.edx.org/static/discuss-black.png');
} 
.grey-banner-timer{
  background-image: url('https://studio.edge.edx.org/static/timer-black.png');
} 
.grey-banner-video{
  background-image: url('https://studio.edge.edx.org/static/video-black.png');
}
.grey-banner-thought{
  background-image: url('https://studio.edge.edx.org/static/think-black.png')
}
.grey-banner-pencil{
  background-image: url('https://studio.edge.edx.org/static/notes-black.png')
}
.grey-banner-link{
  background-image: url('https://studio.edge.edx.org/static/link-black.png')
}
.grey-banner-group{
  background-image: url('https://studio.edge.edx.org/static/group-black.png')
}
.grey-banner-podcast{
  background-image: url('https://studio.edge.edx.org/static/podcast-black.png')
}
.grey-banner-arrow-circle{
  background-image: url('https://studio.edge.edx.org/static/future-black.png')
}
.grey-banner-cogs{
  background-image: url('https://studio.edge.edx.org/static/cogs-black.png')
}
.grey-banner-lightbulb{
  background-image: url('https://studio.edge.edx.org/static/example-black.png')
}
.grey-banner-list{
  background-image: url('https://studio.edge.edx.org/static/summary-black.png')
}
.grey-banner-alert-circle{
  background-image: url('https://studio.edge.edx.org/static/alert-black.png')
}
.grey-banner-alert-triangle{
  background-image: url('https://studio.edge.edx.org/static/important-black.png')
}
.grey-banner-globe{
  background-image: url('https://studio.edge.edx.org/static/world-black.png')
}