:root {
  --uqpurple: #51247A;
  --uqpurplehover: #962A8B;
}

.alert:not(.pattern-library-shim){
color: var(--bs-alert-color) !important;
margin-bottom: var(--bs-alert-margin-bottom) !important;  
}
table.table {
 background: var(--bs-table-bg) !important;
}
.xmodule_display.xmodule_HtmlBlock .table th{
 background: var(--bs-table-bg) !important;
}
div.accordion h2{
  margin: 0px !important;
}
.tooltip::after{
content: none !important;
}
.tooltip{
border-style: none !important;
}

/*.uqpurple, .uqpurple a {
  color: #fff !important;
  background-color: var(--uqpurple) !important;
  border-color: var(--uqpurple) !important;
}
.uqpurple:active, .uqpurple.active, .uqpurple:focus, .uqpurple.focus, .uqpurple:hover, .uqpurple a:hover {
  color: #fff !important;
  background-color: var(--uqpurplehover) !important;
  border-color: var(--uqpurple) !important;
}*/

.btn-uq {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--uqpurple);
  --bs-btn-border-color: var(--uqpurple);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--uqpurplehover);
  --bs-btn-hover-border-color: var(--uqpurple);
  --bs-btn-focus-shadow-rgb: var(--uqpurple);
  --bs-btn-active-color: var(--uqpurplehover);
  --bs-btn-active-bg: var(--uqpurplehover;
  --bs-btn-active-border-color: var(--uqpurple);
}

.alert-uq {
    --bs-alert-color: var(--bs-white);
    --bs-alert-bg: var(--uqpurplehover);
    --bs-alert-border-color: var(--uqpurple);
}

.text-uq {
  color: var(--uqpurple);
}

.bg-uq {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--uqpurple),var(--bs-bg-opacity))!important;
  color: #fff;
}
